#question-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .option-btn {
    background-color: #4caf84;
    color: white;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
  
  .option-btn:hover {
    background-color: #4caf84;
  }
  
  #answer-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #f1f1f1;
    border-radius: 8px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
  